<g:applyLayout name="main">
    <div class="jumbotron">
        <div class="container">
            <p>Welcome, MUSHOPL!</p>
        </div>
    </div>

    <div class="container">

        <hr>

    </div>
</g:applyLayout>